


:root{
    --fuente__arial: "arial", serif;
    --fuente__Times-New-Roman: "Times New Roman", serif; 
        
    --color__vinotinto: #892a26;
    --color__blaco: #FDFFFC;   
    --color__negro: #070707;
    --color__amarillo:#AF9164; 
}



/*cabecera Header*/
.menu__opciones--logo{
    width: 10rem;
    height: 8rem;
    object-fit: cover ;  /*centrar imagen*/
    border-radius: 5rem;
}


.cabecera {
    display: flex;   /* Asegura que los elementos dentro estén alineados en fila */
    justify-content: center; /* Centra horizontalmente el contenido del header */
    align-items: center;    /*Centra verticalmente el contenido del header */
    background: var(--color__vinotinto);
    width: 60rem;
    height: 3rem;            
    position: fixed;  /*cambiar mas moderno*/  
    top: 4rem;                 
    left: 20rem;                
    border-radius: 1rem;       
}

.cabecera_menu {
    display: flex;          /* Asegura que los elementos dentro estén alineados en fila */
    justify-content: center; /* Centra los elementos del menú dentro de su contenedor */
    align-items: center;
    list-style: none;
}

.menu__opciones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espaciado entre los elementos del menú */
    padding: 0;
    list-style: none;
}


.menu__opciones a {
    font-family: 'Franklin Gothic Medium', ;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px; /*Ajusta el relleno*/
    }

.menu__opcion a:hover {
    background: #FDFFFC;
    color: #070707;
    border-radius: 5px; 
}

/*Bienvenida*/

.bienvenida{                      
    background-color: #FDFFFC;
    top: 9.5rem;    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size : 4rem;
    padding: 3rem;
    color: black;
    justify-content: center; 
}

.bienvenida__texto{
    justify-content: center;  
    align-items: center; 
    text-align: center; /*Centra texto verticalmente*/
    padding: 1rem;
    width: auto;
    height: auto
}

/*cuadros*/

.cuadro {
    display: flex; /* Asegura que las imágenes estén en fila horizontal */
    justify-content: center; /* Centra las imágenes horizontalmente */
    align-items: center; /* Centra las imágenes verticalmente */
    gap: 40px;    /* Espaciado entre las imágenes */
}


.imagen__arte {
    width: 30rem; 
    height: 30rem; 
    object-fit: cover;
    border-radius: 10px; 
    transition: transform 0.3s ease; /* Transiciones para hover */
    
}



.imagen__arte:hover {transform: scale(1.2);}  /* Aumenta ligeramente el tamaño al pasar el cursor */


.servicios {
    padding: var(--color__amarillo);
    display: flex;
    flex-direction: column; /* Asegura que la imagen y el texto se coloquen en columna */
    align-items: center; /* Centra horizontalmente */
    text-align: center; /* Centra el texto dentro del contenedor */
}

.imagen__alquiler{
    width: 40rem;
    height: 40rem;
    object-fit: cover;
    padding: 1rem;
    background-color: gray;
}

.letra__servicios {
    font-family: var(--fuente__Times-New-Roman);
    font-size: 2rem;
    text-align: center; /* Asegura que el texto se centre */
}

.descripcion{
    font-size: 1rem;
    max-width: 45rem; /* Evita que el texto sea demasiado ancho */
    margin-bottom: 2rem; /* Añade espacio entre los elementos */}
    


/*footer*/ 


